body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    max-width: 100%;
    overflow-x: hidden;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
}
header {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=2500w');
    background-position: left;
    background-size: cover;
    max-width: 100%;
}
nav > #logo{
    width: 80px;
}
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    box-sizing: border-box;
    z-index: 10;
}

.apply-button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #0d0;
    padding: 12px 18px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.menu-button{
    display: none;
}
#span-icon{
    display: none;
}
.learnmore-button{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #0d0;
    padding: 12px 18px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;

}/*
#logo {
    width: 40px;
}*/
#home-line{
    border-bottom: 2px solid white;
}

.menu-item {
    color: white;
    font-weight: 600;
    font-size: 17px;
    margin-right: 24px;
    cursor: pointer;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav .menu-item .line{
    border-bottom: white;
    margin-left: 20%;

}
.dropdown-wrapper {
    display: inline-block;
    position: relative;
}

.dropdown-wrapper:hover .dropdown {
    display: block;
}
.dropdown {
    width: 280%;
    padding: 20px;
    position: absolute;
    border-radius: 2%;
    right: 24px;
    background-color: #ccc;
    box-shadow: 0 2px 5px #ccc;
    display: none;
}

.dropdown a {
    text-decoration: none;
    display: block;
    padding: 4px;
    font: bold;
    cursor: pointer;
}

#pargragh-header {
    width: 100%;
    height: 100vh;
}

#main-text-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 7%;

}

#main-text-header h1 {
    width: 40%;
    max-width: 1100px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    text-align: justify; 
    color: white;
}
#main-text-header h2{
    color: white;
    font-size: 60px;
    font-weight: 500;
    margin-top: -1%;
    margin-bottom: -3%;


}

#main-text-header p {
    width: 50%;
    max-width: 1100px;
    font-size: 30px;
    /*font-weight: 400;*/
    word-spacing: 1px;
    line-height: 38px;
    text-align: justify; 
    color: white;
    padding-top: 32px;
}
/* STATS SECTION STYLES START */
#stats-section {
    width: 100%;
    background-color: white;
}

#stats-container {
    width: 100%;
    max-width: 1140px;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: stretch;
}

.stats-item {
    width: 25%;
    padding: 0 64px;
}
.stats-item hr{
    width: 10%;
    height: 1%;
    background-color: black;
}

.stats-item h3 {
    font-size: 65px;
    font-weight: 600;
    margin: 0;
    color: #0d0;
}

.stats-item p {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
/* skill section */
#getskill-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#skills-item-left{
    width: 45%;
    display: inline-block;
    margin: 0;
}
#skills-item-left img {
    width: 100%;
}
#skills-item-right {
    width: 40%;
    margin: 0;
    display: inline-block;
}
#skills-item-right > .h11{
    font-size: 40px;
    margin-top: -7%;
}
#skills-item-right > #p{
    font-size: 45px;
}

#skills-paragragh{
    font-size: 25px;
    margin-left: 6%;
}
#skills-item-right > a{
    color: #0d0;
    font-size: 22px;
    margin-left: 6%;
}
/* discover section */
#discover-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    background-color: #0d0;
}
#discover-section > h3{
    margin-top: 0;
    font-size: 40px;
    color: white;
}
.discover-heading {
    color: white;
    font-size: 45px;
    margin: 0;
    margin-top: 35px;
}
#discover-div {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.discover-item {
    width: 25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-radius:30px;
    transition: box-shadow 0.3s;
    text-align: justify;
}
.discover-item > .sign{
    color: rgb(92, 96, 100);
    font-size: 20px;
}
.discover-item > a{
    color:#0d0;
}
.discover-item > hr{
    width: 8%;
    height: 2px;
    background-color: black;
    margin-left: 0%;
}
/* graduates section */
#graduates-section{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#graduates-item-left{
    width: 45%;
    display: inline-block;
    margin: 0;
}
#graduates-item-left img {
    width: 100%;
}
#graduates-item-right {
    width: 40%;
    margin: 0;
    display: inline-block;
}
#graduates-item-right > .h11{
    font-size: 40px;
    margin-top: -7%;
}
#graduates-item-right > #p{
    font-size: 45px;
}

#graduates-paragragh{
    font-size: 25px;
    margin-left: 6%;
}
#graduates-item-right > a{
    color: #0d0;
    font-size: 22px;
    margin-left: 6%;
}
/*
.globalrp-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    margin-top: 5%;
    font-size: 100%;
}*/
#globalrp-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    
}/*
#globalrp-heading > h3{
    margin-top: 0;
    font-size: 40px;
    color: white;
}*/

#globalrp-heading{
    width: 40%;
   max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#globalrp-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#globalrp-p{
    font-size: 24px;
}
#globalrp-img{
    width: 100%;
    margin: 0;
}
#globalrp-img{
    width: 100%;
    margin: 0;
}
#globalrp-img img {
    width: 100%;
}


/* Media Section*/
#media-section {
    width: 100%;
    background-color: rgb(203, 197, 197);
}
#media-section h1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 35px;
    margin-bottom: 5%;
}
#media-container {
    width: 100%;
    max-width: 1140px;
    padding: 1px 0;
    padding-top: 1px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: -5%;
    /*justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;*/
}
.media-item {
   /* width: 20%;*/
    margin-top: 2%;
    margin-bottom: 5%;
}
.media-item img{
    width: 120%;
}
/* Funding Partners*/
#funding-section {
    width: 100%;
}
#funding-section h1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 35px;
}
#funding-container {
    width: 100%;
    max-width: 1140px;
    padding: 5px 0;
    padding-top: 1px;
    margin: 0 auto;
    text-align: center;
}
#funding-container img{
    width: 100%;
}
/* Stratigic partner*/
#strategic-section {
    width: 100%;
}
#strategic-section h1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 40px;
    margin-top: 0%;
}
#strategic-container {
    width: 100%;
    max-width: 1140px;
    padding: 5px 0;
    padding-top: 1px;
    margin: 0 auto;
    /*text-align: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 5%;
}
.strategic-item img{
    width: 150%;
}
#subscribe-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding: 30px;
    font-size: 32px;
}
#subscribe-section p{
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: -3%;
}
#subscribe{
    font-size: 22px;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 12px 18px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
#subscribe:hover{
    opacity: 0.6;
}
footer{
    padding: 25px;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 20px;
}
#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#footer i{
    letter-spacing: 10px;
}
#footer i:hover{
    opacity: 0.4;
}
#footer #a{
    color: #0d0;
} 
#footer a{
    color: white;
}
/**/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: -15%;
}
#myNav > #logo{
    width: 80px;
    margin-top: 3%;
    margin-left: 5%;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media (max-width: 850px) {
    .overlay a {font-size: 40px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}
  }


@media (max-width: 950px) {    
    .menu-item {
        display: none;
    }
    .apply-button {
        display: none;
        margin-right: 0  
    }
    #span-icon{
        display: block;
        margin-left: 0%;
    }
    .dropdown-wrapper:hover .dropdown{
        display: none;
    }
    nav > #logo{
        width: 65px;
    }

    #main-text-header > h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 1.2;
    }

    #main-text-header > p {
        padding: 16px;
        box-sizing: border-box;
    }
    
    
    #discover-section > h3{
        margin-top: 0;
        font-size: 25px;
        color: white;
    }
    .discover-heading {
        color: white;
        font-size: 35px;
        margin: 0;
        margin-top: 35px;
    }  
    .discover-item {
        width: 50%;
        height: 50%;
    }
    #media-container {
        width: 100%;
        max-width: 1140px;
    }
    .media-item img{
        width: 300%;
        margin-left: -180%;
    }
    #stats-container {
        width: 100%;
        max-width: 1140px;
        padding: 100px 0;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .stats-item {
        width: 100%;
        padding: 0 64px;
        margin-top: 5%;
    }
    #skills-item-left{
        width: 100%;
        margin: 0;
        align-items: center;
    }
    #skills-item-right {
        width: 100%;
        margin: 0;
        align-items: center;
    }
    #discover-div {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #getskill-section{
        align-items: center;
        margin-left: 10%;
    }
    #graduates-section{
        align-items: center;
        margin-left: 10%;
    }
    #graduates-item-left{
        width: 100%;
        margin: 0;
        align-items: center;
    }
    #graduates-item-right {
        width: 100%;
        margin: 0;
        align-items: center;
    }
    #media-container {
        width: 100%;
        max-width: 1140px;
        padding: 5px 0;
        padding-top: 1px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 55%;
        flex-wrap: wrap;
    }
    .media-item {
        width: 20%;
        margin-top: 2%;
    }
    #funding-container {
        width: 80%;
        max-width: 1140px;
        padding: 5px 0;
        padding-top: 1px;
        margin: 0 auto;
        text-align: center;
        
    }
    #strategic-container {
        width: 100%;
        max-width: 1140px;
        padding: 5px 0;
        padding-top: 1px;
        margin: 0 auto;
        /*text-align: center;*/
        display: flex;
        /*justify-content: space-between;*/
        align-items: center;
       margin-left: 5%;
        
        flex-wrap: wrap;
    }
    .strategic-item img{
        width: 80%;
        margin-top: 5%;
    }
}